<h4>
  <%=session[:player_name] %> has
  $<%=session[:money].to_i %>
</h4>
<form action="/bet" method="post">
  <label>How much would you like to bet?</label>
  <input type="text" name="bet_amount" />
  <input type="submit" value="Make a bet" class="btn" />
</form>