
<div id="game">
  <h1 id="title">BlackJack</h1>
  <div class="well" id="dealer">
    <h4>Dealer's Cards:</h4>
  </div>
  <div class="well" id="player">
    <h4><%= session[:name] %>'s Cards:</h4>
  </div>
</div>